<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    <mapping resource="eu/europa/cedefop/europass/jtool/model/DrivingLicence.hbm.xml"/>
    <mapping resource="eu/europa/cedefop/europass/jtool/model/Education.hbm.xml"/>
    <mapping resource="eu/europa/cedefop/europass/jtool/model/Language.hbm.xml"/>
    <mapping resource="eu/europa/cedefop/europass/jtool/model/Nationality.hbm.xml"/>
    <mapping resource="eu/europa/cedefop/europass/jtool/model/WorkExperience.hbm.xml"/>
    <mapping resource="eu/europa/cedefop/europass/jtool/model/Xml.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
