<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    <mapping resource="hbm/DrivingLicence.hbm.xml"/>
    <mapping resource="hbm/Education.hbm.xml"/>
    <mapping resource="hbm/Language.hbm.xml"/>
    <mapping resource="hbm/Nationality.hbm.xml"/>
    <mapping resource="hbm/WorkExperience.hbm.xml"/>
    <mapping resource="hbm/Xml.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
